bcrypt==4.0.1
cryptography==44.0.0
fastapi==0.115.7
passlib==1.7.4
pycparser==2.22
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
PyJWT==2.10.1
python-dotenv==1.0.1
python-multipart==0.0.20
SQLAlchemy==2.0.37
typing_extensions==4.12.2
uvicorn==0.34.0
